@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes menuInAnimation {
    0% {
      transform: translateX(-100%); /* Start from the right */
    }
    100% {
      transform: translateX(0); /* End at the original position */
    }
  }

  @keyframes menuOutAnimation {
    0% {
      transform: translateX(0%); /* Start from the right */
      opacity: 1;
    }
    100% {
      transform: translateX(-100%); /* End at the original position */
      opacity: 1;
    }
  }

.menu-in-animation {
    animation: menuInAnimation 0.3s ease-in-out;
  }
  
.menu-out-animation {
animation: menuOutAnimation 0.3s ease-in-out;
}